@import url("https://fonts.googleapis.com/css2?family=Rambla&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rambla", sans-serif;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
